:root {
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2e2f42;
  --color-main-text: #2e2f42;
  --color-secondary-text: #434455;
  --accent: #4d5ae5;
  --accent-pressed-state: #404bbf;
  --color-bg-team: #f4f4fd;
}

/* general */
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-bg-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-secondary-text);
}

/* list link */


a {
  text-decoration: none;
  outline: none;
}
ul {
list-style: none;
margin: 0;
padding: 0;
}

h1,
h2,
h3,
p
{ 
   margin: 0; 
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* title */
.title {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  color: var(--color-main-text);
}

/* container */
.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* site header */
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  justify-content: space-between;
}

/* logo */
.logo-hed-web{
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent);
  margin-right: 76px;
}
.logo-hed-studio {
  color: var(--color-main-text);
}


/* nav */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-list {
  display: flex;
  gap: 40px;
}
.header-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--color-main-text);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent);
}


/* address */
.contact-list {
  display: flex;
  align-items: center;
}
.contact-item:not(:last-child) {
  padding-left: 0px;
  margin-right: 40px;
}
.contact-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--color-secondary-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent);
}


/* hero */
.hero {
  padding: 188px 0;
  margin-right: auto;
  margin-left: auto;
  color: #ffffff;
  background-color: var(--secondary-bg-color);
  text-align: center;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin: 0 auto;
  max-width: 496px;
  margin-bottom: 48px;
}

.hero-btn {
  font-family: "Roboto", sans-serif;
  padding: 16px 32px;
  background: var(--accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  border: none;
  line-height: 1.5;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  margin: 0 auto;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--accent-pressed-state);
}



/* features */
.features {
  padding-top: 120px;
  padding-bottom: 120px;
  
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
width: calc((100% - 72px) / 4);
}

.features-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-main-text);
  text-align: left;
}
.features-text {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
  
  }

/* team */
.team {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--color-bg-team);
}
.team-title {
color: var(--NAVY-BLUE, #2E2F42);
text-align: center;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 111.111% */

text-transform: capitalize;
margin-bottom: 72px
}
.team-list {
    display: flex;
    gap: 24px;
}
.team-item {
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  width: calc((100% - 72px) / 4)
}
  .img {
    display: block;
  }
  .content{
    padding: 32px 0 }

  .team-title-card {
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 8px
  }
.team-text {
    display: flex;
    width: 360px;
    height: 420px;
    padding-bottom: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    text-align: center;
}

img {
  display: block;
}




/* portfolio page */
.portfolio {
  padding: 120px 0 120px 0;
}
.title-portfolio{
color: var(--NAVY-BLUE, #2E2F42);
text-align: center;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 111.111% */
text-transform: capitalize;
margin-bottom: 72px;
margin-bottom: 72px;
}
.list-portfolio{
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px;
}
.item-portfolio{
    width: 360px;
    height: 420px;
    padding-bottom: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex-shrink: 0;
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: var(--WHITE, #FFF); 
}

.content {
    padding: 32px 16px ;
    border: 1px solid #e7e9fc;
} 
.title-portfolio {
    margin-bottom: 8px;
}
.item .btn-gallery:hover,
.item .btn-gallery:focus {
}

/* footer */
.footer {
  background-color: var(--secondary-bg-color);
  padding: 100px 0;
}

.logo-studuo {
  color: var(--color-cloud);
  display: inline-block;
  margin-bottom: 16px;
}
.index-foot {
  color: var(--color-iris);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.foot-text {
  max-width: 264px;
  color: var(--color-cloud);
  font-size: 16px;
  line-height: 1.5;
}
